
    
        <div class="divContainerHeader">
            <div class="divContainerHeaderMainBar">
                <div class="divSiteLogo">
                    <img class="imgSiteLogo" src="/Content/Images/UserAvatar.png" />
                </div>
                <div class="divPageMenu">
                    <button class="btn">Notifications</button>
                </div>
                <div class="divPageMenu">
                    <button ng-click="showPendingUser()" class="btn">Pending Requests</button>
                </div>
                <div class="divPageMenu">
                    <button ng-click="showFriends()" class="btn">Friends</button>
                </div>
                <div class="divPageMenu">
                    <button ng-click="showUserHome()" class="btn">Home</button>
                </div>
            </div>
            <div class="divContainerHeaderSideBar">
                ...
            </div>
        </div>